body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .weatherApp {
    border: 3px solid gray;
    padding: 50px;
    text-align: center;
  }
  .search {
    margin: 20px;
  }
  button {
    margin: 0 auto;
    border-radius: 4%;
  }
  .currentCityButton {
    margin-top: 10px;
  }
  .selectedCityData {
    margin: 20px;
    text-align: center;
  }
  .forecast {
    text-align: center;
  }
  forecastOne,
  forecastTwo,
  forecastThree,
  forecastFour,
  forecastFive,
  forecastSix {
    padding: 10px;
  }
  .attribution {
    font-size: 10px;
  }
  